:root{
  ---primary : #0D1117;
  ---secondary : #161B22;
  ---accent : #33B3AE;
  ---font-primary: #E6EDF3;
  ---font-secondary: #8D96A0;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Ubuntu Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(---primary);  
  color: var(---font-primary);
  font-size: 12px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
